* { 
    margin: 0;
    /* padding: 0; */
    /* box-sizing: border-box; */
	/* text-overflow: wrap; */
}


:root
{
	--font-size-h1: 64px;
	--font-size-h2: 20px;
	--font-size-h3: 20px;
	--font-size-normal: 18px;
	--profile-shape: rect(20%);
	--content-padding-width: 5%;
	--outer-container-margin: 24px;
	--post_entry_padding: 24px;
	--font-header: 'Courier New', Courier, monospace;
	--font-body: 'Courier New', Courier, monospace;

	/* --color-header: #E8998D;
	--color-header-text: black; 
	--color-footer: black; 
	--color-text: black; 
	--color-article: #FBF7F4;
	--color-body: #EED2CC;
	--color-background: #6C9A8B;  */


	--color-header: antiquewhite;
	--color-header-text: black; 
	--color-footer: black; 
	--color-text: black; 
	--color-article: white;
	--color-body: rgb(255, 248, 239);
	--color-background: wheat;
}



h1 {
	font-family: var(--font-header); 
	/* font-size: 5vw; */
	font-size: var(--font-size-h1);
	font-weight: bold;
	padding: 8px;
}

h2 {
	font-family: var(--font-header);
	font-weight: bold;
	font-size: var(--font-size-h2);
	padding: 8px;
}

h3 {
	font-family: var(--font-header);
	font-weight: normal;
	font-size: var(--font-size-h3);
	padding: 8px;
}

p
{
	/* font-family: 'Courier New', Courier; */
	/* font-family: Verdana,Geneva,sans-serif;  */
	font-family: var(--font-body);
	padding: 8px;
	line-height: 1.4;
	word-wrap: break-word;
	font-size: var(--font-size-normal);

}

li
{
	font-family: var(--font-body);
	font-size: var(--font-size-normal);
	line-height: 1.4;
}

body
{
	font-family: 'Courier New', Courier, monospace;
	/* margin-bottom: 24px; */
	flex-direction: column;
	background-color: rgb(255, 248, 239);
	/* min-height: 100vh; */
	
}

#content
{
	/* vertical-align: middle; */
	/* max-width: 700px; */
	margin: auto;
	/* text-wrap:pretty; */
	flex: 1;
	padding: 24px;
	/* max-width: ; */
	max-width: 80%;
	height: 100%;
}

header
{
	color: rgb(0, 0, 0);
	text-decoration: none;

	font-family: 'Courier New', Courier, monospace;
	background-color: var(--color-header);
	top: 0;	

	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	/* margin-inline-start:auto; */
	/* margin-inline-end:auto; */
	padding-left:8vw;
	padding-right:8vw;
	margin-right: auto;
	margin-left: auto;

	/* max-height: 40px; */
	/* border: 2px solid black; */
	border-bottom: 1px solid black;
}

footer
{
	font-family: 'Courier New', Courier, monospace;
	background-color: var(--color-footer);
	color: aliceblue;
	text-align: center;
}

#footer
{
	bottom: 0;
	left: 0;
	right: 0;
	/* position: fixed; */
	padding: 12px;
}

a.header_home_text:link, a.header_home_text:visited
{
	color: black;
	text-decoration: none;
	display: flex;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-inline-start: calc(0.25vw + 24px);
	margin-inline-end: 0.25vw;
}

a:link, a:visited
{
	/* color: white; */
	text-decoration: none;
	font-weight: bold;
}

/* #div_top_links */
/* { */
	/* display: inline; */
	/* vertical-align: center; */
/* } */

#menu
{
	display: flex;
	/* display: inline; */
	list-style: none;
	word-break: keep-all;
	overflow-x: auto;
	white-space: nowrap;
	color: var(--color-header-text);
	margin: 24px;
	margin-bottom: 4px;
	margin-top: 4px;
	padding-left: 0px;
}

/* TODO Figure out animations for menu items! */

.menu_item
{
	margin-inline-start: 0.25vw;
	margin-inline-end: 0.25vw;
	display: flexbox;
	color: var(--color-header-text);
}

.menu_link
{
	color: var(--color-header-text);
	transition: 0.1s;
}

.menu_link:hover
{
	color: rgb(255, 0, 0);
}

.text-404
{
	/* position: absolute; */
	font-size: 350px;
	font-weight: bold;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 80%;
	left: 0;
	right: 0;
}

/* Profile Configuration */

#profile
{
	clip-path: var(--profile-shape);
	display: block; 
	height: 15vw;
	width: 15vw;
	border: 1px solid black;
	padding: 8px;
	position: absolute;
	right: 200px;
}

#profile_div
{
	/* text-align: center; */
	margin-right: auto;
	margin-left: auto;
	/* width: 80%; */
	/* padding: 24px; */
	gap: 24px;
}

#profile_text
{
	display: block; 
}

/* Post Configuration */

.post_entry
{
	background-color: var(--color-article);
	padding: (--post_entry_padding);
	margin-top: 24px;
	margin-bottom: 24px;
	position: relative;
	display: block;
	
	border: 1px solid black;
}

.post_entry:hover
{
	transition: 0.1s;
	transform: scale(101%);
}
.post_entry:active
{
	transition: 0.05s;
	transform: scale(98%);
}


#inner_container
{
	border: 1px solid black;
	padding: 32px;
}

#outer_container
{
	border: 1px solid black;
	margin: var(--outer-container-margin);
	/* margin-right: 10vw; */
	/* margin-left: 10vw; */
	/* padding: 32px; */
	background: var(--color-body);
	border-radius: 1px;

	/* 
	background-color: rgb(255, 248, 239);
	opacity: 1.0;
	background-image:  linear-gradient(135deg, wheat 5%, transparent 25%), 
						linear-gradient(225deg, wheat 5%, transparent 25%), 
						linear-gradient(45deg, wheat 5%, transparent 25%), 
						linear-gradient(315deg, wheat 5%, rgb(255, 248, 239) 25%);
	background-position:  18px 0, 18px 0, 0 0, 0 0;
	background-size: 18px 18px;
	background-repeat: repeat; 
	*/
}

body
{
	background-color: var(--color-background);
}

.single_body
{
	margin-right: var(--content-padding-width);
	margin-left: var(--content-padding-width);
}


img:not(#profile, .mosaic_img) {
	width: 40%;
	border: 2px solid black; 
	margin: 12px;
}

.mosaic_div
{
  display: grid;
  grid-template-columns: repeat(6, 17%);
  /* grid-template-columns: repeat(9, 11%); */
  grid-auto-rows: auto;  
  padding: 16px;
  margin: 16px;
  gap: 1rem;
  padding-right: 32px;
  padding-left: 32px;
  justify-content: center;
  align-content: center;
}

.mosaic_img
{ 
	width: 100%;
	height: auto;
	border: 2px solid black;
	border-radius: 8px;
	transition: 0.1s;
}
.mosaic_img:hover
{ 
	transition: 0.1s;
	box-shadow: 0px 0px 8px;
    transform: scale(1.25);
}

@media only screen and (max-width: 620px) {
	
	a.header_home_text:link, a.header_home_text:visited
	{
		display: none;
		padding: -8px;
		margin: 0;
	}

	#header
	{
		justify-content: center;
		/* pos */
		padding-left: 0x;
		right:16px;
	}

	img:not(#profile) {
		width: 100%;
	}

	:root
	{
		--font-size-h1: 40px;
		--font-size-h2: 18px;
		--font-size-h3: 18px;
		--font-size-normal: 14px;
		--profile-shape: circle(40%);
		--show-home-text: false;
		--content-padding-width: 0%;
		--outer-container-margin: 8px;
		--post_entry_padding: 4px;
	}


	.mosaic_div
	{
		display: grid;
		grid-template-columns: repeat(3, 30%);
		grid-auto-rows: auto;  
		padding: 16px;
		padding-right: 0px;
		padding-left: 0px;
	}

	#content
	{
		width: 100%;
		padding: 32px;
		max-width: 85%;
	}
}
