* { 
    margin: 0;
    /* padding: 0; */
    /* box-sizing: border-box; */
	/* text-overflow: wrap; */
}


:root
{
	--font-size-h1: 64px;
	--font-size-h2: 20px;
	--font-size-h3: 20px;
	--font-size-normal: 18px;
	--profile-shape: rectangle(50%);
	--content-padding-width: 5%;
	--outer-container-margin: 32px;
	--post_entry_padding: 24px;
	--font-header: 'Courier New', Courier, monospace;
	--font-body: 'Courier New', Courier, monospace;
	/* --font-body: Open Sans;  */
}



h1 {
	font-family: var(--font-header); 
	/* font-size: 5vw; */
	font-size: var(--font-size-h1);
	font-weight: bold;
	padding: 8px;
}

h2 {
	font-family: var(--font-header);
	font-weight: bold;
	font-size: var(--font-size-h2);
	padding: 8px;
}

h3 {
	font-family: var(--font-header);
	font-weight: normal;
	font-size: var(--font-size-h3);
	padding: 8px;
}

p
{
	/* font-family: 'Courier New', Courier; */
	/* font-family: Verdana,Geneva,sans-serif;  */
	font-family: var(--font-body);
	padding: 8px;
	line-height: 1.4;
	word-wrap: break-word;
	font-size: var(--font-size-normal);

}

li
{
	font-family: var(--font-body);
	font-size: var(--font-size-normal);
	line-height: 1.4;
}

body
{
	font-family: 'Courier New', Courier, monospace;
	/* margin-bottom: 24px; */
	flex-direction: column;
	background-color: rgb(255, 248, 239);
	/* min-height: 100vh; */
}

#content
{
	/* vertical-align: middle; */
	/* max-width: 700px; */
	margin: auto;
	/* text-wrap:pretty; */
	flex: 1;
	padding: 48px;
	/* max-width: ; */
	max-width: 80%;
	height: 100%;
}

header
{
	color: rgb(0, 0, 0);
	text-decoration: none;

	font-family: 'Courier New', Courier, monospace;
	background-color: antiquewhite;
	top: 0;	

	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-inline-start:auto;
	margin-inline-end:auto;

	/* max-height: 40px; */
	/* border: 2px solid black; */
	border-bottom: 2px solid black;
}

footer
{
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(0, 0, 0);
	color: aliceblue;
	text-align: center;
	/* max-height: 110px; */
	/* align-self: stretch; */
}

#footer
{
	bottom: 0;
	left: 0;
	right: 0;
	/* position: fixed; */
	padding: 12px;
}

a.header_home_text:link, a.header_home_text:visited
{
	color: black;
	text-decoration: none;
	margin: 40px;
	display: flex;
	margin-bottom: 4px;
	margin-top: 4px;
}

a:link, a:visited
{
	/* color: white; */
	text-decoration: none;
	font-weight: bold;
}

/* #div_top_links */
/* { */
	/* display: inline; */
	/* vertical-align: center; */
/* } */

#menu
{
	display: flex;
	/* display: inline; */
	list-style: none;
	word-break: keep-all;
	overflow-x: auto;
	white-space: nowrap;
	color: black;
	margin: 24px;
	margin-bottom: 4px;
	margin-top: 4px;
	padding-left: 0px;
}

/* TODO Figure out animations for menu items! */

.menu_item
{
	margin-inline-start: 1vw;
	margin-inline-end: 1vw;
	display: flexbox;
}

.menu_link
{
	color: black;
	transition: 0.1s;
}

.menu_link:hover
{
	color: rgb(255, 0, 0);
}

.text-404
{
	/* position: absolute; */
	font-size: 350px;
	font-weight: bold;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 80%;
	left: 0;
	right: 0;
}

/* Profile Configuration */


#profile_border_0
{
	width: fit-content;
	margin: auto;
	clip-path: var(--profile-shape); 
	background: antiquewhite;
	border: 2px solid black;
	transition: 0.1s;
	margin-bottom: 24px;
} 

#profile_border_0:hover
{
	transition: 0.2s;
	transform: scale(105%);
	background: rgb(0, 0, 0);
	border: 2px solid black;
}

#profile_border_1
{
	width: fit-content;
	margin: auto;
	clip-path: var(--profile-shape); 
	background: antiquewhite;
	border: 35px solid antiquewhite;
}

#profile_border_2
{
	width: fit-content;
	margin: auto;
	clip-path: var(--profile-shape);
	background: black;
	border: 8px solid black;
}

#profile
{
	clip-path: var(--profile-shape);
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	height: 25vw;
	width: 25vw;
	/* border: 10px solid black; */
	transition: 0.5s;
}

#profile_div
{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	/* padding: 24px; */
	gap: 24px;
}

#profile_text
{
	display: block;
}

/* Post Configuration */

.post_entry
{
	background-color: white;
	padding: (--post_entry_padding);
	margin-top: 24px;
	margin-bottom: 24px;
	position: relative;
	display: block;
	
	border: 2px solid black;
	border-radius: 2px;
}

.post_entry:hover
{
	transition: 0.1s;
	transform: scale(102%);
}
.post_entry:active
{
	transition: 0.1s;
	transform: scale(98%);
}


#inner_container
{
	border: 1px solid black;
	padding: 32px;
}

#outer_container
{
	border: 2px solid black;
	margin: var(--outer-container-margin);
	/* padding: 32px; */
	background: rgb(255, 248, 239);;
	border-radius: 2px;
}

body
{
	background-color: wheat;
}

.single_body
{
	margin-right: var(--content-padding-width);
	margin-left: var(--content-padding-width);
}


@media only screen and (max-width: 620px) {
	:root
	{
		--font-size-h1: 40px;
		--font-size-h2: 18px;
		--font-size-h3: 18px;
		--font-size-normal: 14px;
		--profile-shape: rectangle(50%);
		--show-home-text: false;
		--content-padding-width: 0%;
		--outer-container-margin: 16px;
		--post_entry_padding: 4px;
	}

	a.header_home_text:link, a.header_home_text:visited
	{
		display: none;
		padding: -8px;
		margin: 0;
	}

	#header
	{
		justify-content: center;
		/* pos */
		padding-left: 0x;
		right:16px;
	}
}